<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <main>
      {% block main %}{% endblock main %}
    </main>
    <footer>
      {% block footer %}{% endblock footer %}
    </footer>
  </body>
</html>
